In [1]:
__nbid__ = '0035'
__author__  = 'Knut Olsen <knut.olsen@noirlab.edu>, Mike Fitzpatrick <mike.fitzpatrick@noirlab.edu>, Adam Scott <adam.scott@noirlab.edu>, David Herrera <david.herrera@noirlab.edu>'
__version__ = '20251205' # aaaammdd
__datasets__ = ['usno.a2', 'gaia_dr3']
__keywords__ = ['crossmatch', 'mydb', 'query', 'tutorial', 'vospace']

# Cómo hacer una comparación cruzada eficiente de una tabla de usuario con una tabla en Data Lab
*Knut Olsen, Mike Fitzpatrick y Adam Scott*

#### (_Traducción de [How_to_crossmatch_tables.ipynb](https://github.com/astro-datalab/notebooks-latest/blob/master/04_HowTos/CrossmatchTables/How_to_crossmatch_tables.ipynb)_)

# Tabla de contenido
* [Objetivos](#goals)
* [Resumen](#summary)
* [Avisos Legales y Atribuciones](#attribution)
* [Importaciones y Configuración](#import)
* [Autenticación](#auth)
* [MyDB, tu almacenamiento de base de datos personal](#mydb)
* [Importando una tabla de usuario](#import)
* [Ejecutar el crossmatch](#crossmatch)
* [Limpieza](#cleanup)

<a class="anchor" id="goals"></a>
# Objetivos
En este notebook, demostramos cómo realizar una comparación cruzada eficiente de una tabla de datos proporcionada por el usuario con una tabla alojada en Data Lab.

<a class="anchor" id="summary"></a>
# Resumen
Los pasos básicos son:
* [Asegurarse de haber iniciado sesión como usuario registrado](#login)
* [Subir su tabla a myDB, su área de almacenamiento de base de datos personal](#import)
* [Crear y ejecutar una consulta para realizar la comparación cruzada usando la función q3c_join()](#crossmatch)

<a class="anchor" id="attribution"></a>
# Avisos Legales y atribuciones

Avisos Legales
-----------
Tome en cuenta que usar el Astro Data Lab constituye un acuerdo con nuestros [Avisos Legales](https://datalab.noirlab.edu/disclaimers.php) mínimos.

Reconocimientos
---------------
Si ud. usa el **Astro Data Lab** en sus publicaciones de investigación, por favor incluya el siguiente texto en la sección de Reconocimientos de su publicaciones:

_Esta investigación utiliza servicios de datos proveeidos por el Astro Data Lab, el cual es parte del Programa "Community Science and Data Center" (CSDC) (Centro de Ciencia Comunitaria y Datos) del NSF NOIRLab. NOIRLab es operado por la "Association of Universities for Research in Astronomy (AURA), Inc."(Asociación de Universidaddes para la Investigación en Astronomía, Inc.), bajo un acuerdo de cooperación con la "U.S. National Science Foundation" (Fundación Nacional de Ciencia de los EE. UU.)._

Si utiliza **SPARCL junto con la plataforma de Astro Data Lab** (por medio de JupyterLab, línea de comando o interfaz de la web) en su publicación de investigación, por favor incluya el siguiente texto en la sección de Reconocimientos de su publicaciones:

_Esta investigación utiliza servicios o datos proporcionados por el "SPectra Analysis and Retrievable Catalog Lab" (SPARCL) (Laboratorio de Análisis y Catálogo Recuperable de Espectros) y el Astro Data Lab, ambos pertenecientes al Programa "Community Science and Data Center" (CSDC) (Centro de Ciencia Comunitaria y Datos) de NSF NOIRLab. NOIRLab es operado por la "Association of Universities for Research in Astronomy (AURA), Inc." (Asociación de Universidades para la Investigación en Astronomía, Inc.), bajo un acuerdo de cooperación con la "U.S. National Science Foundation" (Fundación Nacional de Ciencia de los EE. UU.)._

En cualquiera de los casos, **por favor cite las siguientes publicaciones**:

* Publicación del concepto de Data Lab: Fitzpatrick et al., "The NOAO Data Laboratory: a conceptual overview", SPIE, 9149, 2014, https://doi.org/10.1117/12.2057445

* Descripción general del Astro Data Lab: Nikutta et al., "Data Lab - A Community Science Platform", Astronomy and Computing, 33, 2020, https://doi.org/10.1016/j.ascom.2020.100411.

Si hace referencia al Jupyterlab / Jupyter notebooks de Data Lab, cite:

* Juneau et al., "Jupyter-Enabled Astrophysical Analysis Using Data-Proximate Computing Platforms", CiSE, 23, 15, 2021, https://doi.org/10.1109/MCSE.2021.3057097.

Si publica en una revista de la AAS, agregue también la palabra clave `\facility{Astro Data Lab}`

Y si está usando SPARCL, por vor agregue también `\software{SPARCL}` y cite:

* Juneau et al., "SPARCL: SPectra Analysis and Retrievable Catalog Lab", Conference Proceedings for ADASS XXXIII, 2024
https://doi.org/10.48550/arXiv.2401.05576.

La biblioteca de NOIRLab mantiene [listas de reconocimientos apropiados](https://noirlab.edu/science/about/scientific-acknowledgments) para usar cuando se hacen publicaciones utilizando los recursos, servicios o datos del Laboratorio.

---- **Versión en Inglés** ----


# Disclaimer & attribution

Disclaimers
-----------
Note that using the Astro Data Lab constitutes your agreement with our minimal [Disclaimers](https://datalab.noirlab.edu/disclaimers.php).

Acknowledgments
---------------
If you use **Astro Data Lab** in your published research, please include the text in your paper's Acknowledgments section:

_This research uses services or data provided by the Astro Data Lab, which is part of the Community Science and Data Center (CSDC) Program of NSF NOIRLab. NOIRLab is operated by the Association of Universities for Research in Astronomy (AURA), Inc. under a cooperative agreement with the U.S. National Science Foundation._

If you use **SPARCL jointly with the Astro Data Lab platform** (via JupyterLab, command-line, or web interface) in your published research, please include this text below in your paper's Acknowledgments section:

_This research uses services or data provided by the SPectra Analysis and Retrievable Catalog Lab (SPARCL) and the Astro Data Lab, which are both part of the Community Science and Data Center (CSDC) Program of NSF NOIRLab. NOIRLab is operated by the Association of Universities for Research in Astronomy (AURA), Inc. under a cooperative agreement with the U.S. National Science Foundation._

In either case **please cite the following papers**:

* Data Lab concept paper: Fitzpatrick et al., "The NOAO Data Laboratory: a conceptual overview", SPIE, 9149, 2014, https://doi.org/10.1117/12.2057445

* Astro Data Lab overview: Nikutta et al., "Data Lab - A Community Science Platform", Astronomy and Computing, 33, 2020, https://doi.org/10.1016/j.ascom.2020.100411

If you are referring to the Data Lab JupyterLab / Jupyter Notebooks, cite:

* Juneau et al., "Jupyter-Enabled Astrophysical Analysis Using Data-Proximate Computing Platforms", CiSE, 23, 15, 2021, https://doi.org/10.1109/MCSE.2021.3057097

If publishing in a AAS journal, also add the keyword: `\facility{Astro Data Lab}`

And if you are using SPARCL, please also add `\software{SPARCL}` and cite:

* Juneau et al., "SPARCL: SPectra Analysis and Retrievable Catalog Lab", Conference Proceedings for ADASS XXXIII, 2024
https://doi.org/10.48550/arXiv.2401.05576

The NOIRLab Library maintains [lists of proper acknowledgments](https://noirlab.edu/science/about/scientific-acknowledgments) to use when publishing papers using the Lab's facilities, data, or services.

<a class="anchor" id="import"></a>

# Importaciones y configuración

In [13]:
from dl import authClient as ac
from dl import storeClient as sc
from dl import queryClient as qc
from dl.helpers.utils import convert        # usar pandas
import os
from getpass import getpass

do_cleanup = True                          # Elimine cualquier archivo/tabla creada por este notebook

<a class="anchor" id="auth"></a>
# Autenticación

Se puede acceder a gran parte de la funcionalidad de Data Lab sin iniciar sesión explícitamente (el servicio utiliza un inicio de sesión anónimo). Pero algunas capacidades, por ejemplo guardar los resultados de sus consultas en su espacio de almacenamiento virtual, requieren un inicio de sesión (es decir, necesitará una cuenta de usuario registrada).

Si necesita iniciar sesión en Data Lab, descomente la celda a continuación y ejecútela:

In [12]:
token = ac.login(input("Ingrese el nombre de usuario: (+ENTER) "), getpass("Ingrese la contraseña: (+ENTER) "))
ac.whoAmI()

Ingrese el nombre de usuario: (+ENTER)  demo01
Ingrese la contraseña: (+ENTER)  ········

'demo01'

### Obtener lista de tablas MyDB
Comencemos obteniendo una lista de tablas existentes en MyDB. La forma de enumerar tablas en su MyDB es con el método *mydb_list()*:

    resultado = queryClient.mydb_list ([token], <nombre_tabla>)
dónde

    token          token de inicio de sesión (opcional)
    table_name     nombre de la tabla MyDB a listar (opcional)

Si no se proporcionan argumentos, se devuelve una lista de todas las tablas en MyDB del usuario, un nombre de tabla por fila.  Si se proporciona un nombre de tabla, el método devuelve una cadena CSV en el nombre de la columna y el tipo de datos, un nombre de columna por fila.

In [14]:
print("Listando tablas en mydb:\n" + qc.mydb_list())

Listando tablas en mydb:
allwisetab
basic_result
desi_dr1_survey_progress_q1
gals
largetable
lstab
table1
tbl_stat
testresult2
usno_objects
y6gold_test

### Consultar base de datos con salida a mydb
La forma más básica de crear una tabla en mydb es emitir una consulta en una tabla en la base de datos de Data Lab con salida a mydb:

In [15]:
query = 'select top 15 id,raj2000,dej2000 from usno.a2'
try:
    qc.query(adql=query, fmt='csv', out='mydb://usno_objects')
except Exception as e:
    print(e.message)

print("Listando tablas en mydb:\n" + qc.mydb_list())

Error: Table name already exists. It can be dropped with queryClient.mydb_drop() or add drop=True to your current request
Listando tablas en mydb:
allwisetab
basic_result
desi_dr1_survey_progress_q1
gals
largetable
lstab
table1
tbl_stat
testresult2
usno_objects
y6gold_test

<a class="anchor" id="import"></a>
# Importando una tabla de usuarios
Pero a menudo un usuario tendrá una tabla existente que desea importar a mydb.  Las secciones siguientes muestran cómo hacer esto con una variedad de ejemplos.

### Generar algunos datos de muestra.
Primero, crearemos una tabla de datos y la almacenaremos localmente y también la colocaremos en VOSpace.  Si tiene una tabla en su máquina local, puede usar la función Cargar del notebook Jupyter para copiar la tabla en Data Lab.

In [19]:
data = qc.query ('select id,raj2000 as ra,dej2000 as dec from usno.a2 limit 15')  # Cadena CSV
with open ('objects.csv','w') as fd:                                               # archivo de datos CSV
    fd.write (data)   
df = convert(data)                                                                 # Marco de datos de Pandas
tsv = data.replace(',','\t')                                                       # Separados por tabulaciones
asv = data.replace(',',' ')                                                        # separados por ASCII
bsv = data.replace(',','|')                                                        # Separados por barras

if sc.access ('vos://objects.csv'):
    sc.rm ('vos://objects.csv')
if sc.access ('vos://objects.vot'):
    sc.rm ('vos://objects.vot')
sc.put ('objects.csv', 'vos://objects.csv')                                        # Pon una copia en VOSpace
print(sc.ls ('objects.*', format='long', verbose=True))

(1 / 1) objects.csv -> vos://objects.csv
-rw-rw-r-x  demo01     528  25 Nov 2025 15:02  objects.csv

También podríamos haber enviado el resultado de la consulta anterior directamente a VOSpace.

In [21]:
query = 'select top 15 id,raj2000,dej2000 from usno.a2'
qc.query(adql=query, fmt='votable', out='vos://objects.vot') # FIXME: la consulta al guardar en un archivo existente falla
print(sc.ls ('objects.*', format='long', verbose=True))

-rw-rw-r-x  demo01     528  25 Nov 2025 15:02  objects.csv
-rw-rw-r-x  demo01    2026  25 Nov 2025 15:02  objects.vot

<a class="anchor" id="import"></a>
### Importar una tabla directamente a MyDB
La forma más sencilla de importar una tabla a su MyDB es con el método *mydb_import()*:

    resultado = queryClient.mydb_import ([token], <nombre_tabla>, <datos> [, esquema=<def_esquema>])
dónde

    token          token de inicio de sesión (opcional)
    table_name     nombre de la tabla MyDB a listar (opcional)
    data           nombre de archivo de datos de datos CSV, una cadena CSV o un objeto DataFrame de Pandas 
    scuema_def     [Opcional, predeterminado=""] La definición del esquema se almacena en un archivo de texto o cadena.
                   Este es un archivo con formato CSV que contiene el nombre de la columna y tipo de datos (Postgres), una fila por columna.
    drop           [Opcional, predeterminado=True] Elimina cualquier tabla existente antes de cargar la nueva.

#### Ejemplo 1: importar un archivo CSV (local) a una tabla MyDB llamada 'objects1'

In [22]:
print ('Resultado del archivo local:'   + qc.mydb_import ('objects1', 'objects.csv'))

Resultado del archivo local:OK

#### Ejemplo 2: Importe un archivo CSV desde su almacenamiento virtual a una tabla MyDB llamada 'objects2'

In [23]:
print ('Resultado del archivo VOS:'   + qc.mydb_import ('objects2', 'vos://objects.csv', verbose=True))

15 row(s) imported to mydb_1019."objects2"

Resultado del archivo VOS:OK

#### Ejemplo 3: importar directamente desde una cadena que contiene datos CSV (u otros datos delimitados)

In [24]:
print ('Resultado de cadena (CSV):' + qc.mydb_import ('objects3', data))
# print ('Resultado de cadena (TSV): ' + qc.mydb_import ('objects3', datos, delimitador='\t'))
# print ('Resultado de cadena (ASV): ' + qc.mydb_import ('objects3', datos, delimitador=' '))
# print ('Resultado de cadena (BSV): ' + qc.mydb_import ('objects3', datos, delimitador ='|'))

Resultado de cadena (CSV):OK

#### Ejemplo 4: Importar un DataFrame de Pandas directamente a una tabla MyDB

In [25]:
print ('Resultado pandas:' + qc.mydb_import ('objects4', df))

Resultado pandas:OK

#### Ejemplo 5: importar datos CSV y luego agregarlos a la tabla

In [27]:
res = qc.mydb_import ('objects5', data, verbose=True)             # Eliminar la tabla existente de forma predeterminada
print ('Núm. filas en objects5:' + qc.query('select count(*) from mydb://objects5',fmt='csv'))

res = qc.mydb_import ('objects5', data, verbose=True, drop=False) # Deshabilitar 'soltar' para agregar
print ('Núm. filas en objects5:' + qc.query('select count(*) from mydb://objects5',fmt='csv'))

15 row(s) imported to mydb_1019."objects5"

Núm. filas en objects5:count
15

15 row(s) imported to mydb_1019."objects5"

Núm. filas en objects5:count
15

#### Ejemplo 6: Importar una VOTable almacenada en almacenamiento virtual

In [30]:
# Generar una VOTable llamando al servicio PanSTARRS Cone Search.
ps1_base_url = 'http://gsss.stsci.edu/webservices/vo/ConeSearch.aspx?CAT=PS1V3OBJECTS&'
ps1_url = ps1_base_url + ('RA={0}&DEC={1}&SR={2}'.format(0.0,0.0,0.05))
os.system ('wget -q -O ps1.vot "' + ps1_url + '"')

# Colocar una copia en un almacenamiento virtual.
sc.put('ps1.vot',to='vos://ps1.vot')

print (ps1_url)

(1 / 1) ps1.vot -> vos://ps1.vot
http://gsss.stsci.edu/webservices/vo/ConeSearch.aspx?CAT=PS1V3OBJECTS&RA=0.0&DEC=0.0&SR=0.05

Ahora cargue la tabla MyDB directamente desde VOTable en el disco local, en VOSpace y directamente desde la URL:

In [31]:
res = qc.mydb_import ('objects6a', 'ps1.vot', verbose=True)             # Cargar desde VOTable local
print ('import res:' + res)
print ('Núm. filas en objects6a:' + qc.query('select count(*) from mydb://objects6a',fmt='csv'))

253 row(s) imported to mydb_1019."objects6a"

import res:OK
Núm. filas en objects6a:count
253

In [32]:
res = qc.mydb_import ('objects6b', 'vos://ps1.vot', verbose=True)       # Cargar desde almacenamiento virtual VOTable
print ('Núm. filas en objects6b:' + qc.query('select count(*) from mydb://objects6b',fmt='csv'))

253 row(s) imported to mydb_1019."objects6b"

Núm. filas en objects6b:count
253

In [33]:
res = qc.mydb_import ('objects6c', ps1_url, verbose=True)               # Cargar desde la URL del servicio directamente
print ('Núm. filas en objects6c:' + qc.query('select count(*) from mydb://objects6c',fmt='csv'))

253 row(s) imported to mydb_1019."objects6c"

Núm. filas en objects6c:count
253

Tenga en cuenta que para cada una de las tablas creadas, los nombres de las columnas y los tipos de datos se determinaron automáticamente.  Podemos verificar si son correctos enumerando las columnas usando *mydb_list()*.

In [34]:
print (qc.mydb_list('objects4'))              # El uso del prefijo 'mydb://' es opcional
print (qc.mydb_list('mydb://objects6a'))

id
ra
dec

objname
objid
ndetections
nstackdetections
ng
nr
ni
nz
ny
objinfoflag
qualityflag
ramean
decmean
rameanerr
decmeanerr
gflags
rflags
iflags
zflags
yflags
gqfperfect
rqfperfect
iqfperfect
zqfperfect
yqfperfect
gmeanpsfmag
gmeanpsfmagerr
gmeanpsfmagnpt
gmeanpsfmagmin
gmeanpsfmagmax
gmeanpsfmagstd
rmeanpsfmag
rmeanpsfmagerr
rmeanpsfmagnpt
rmeanpsfmagmin
rmeanpsfmagmax
rmeanpsfmagstd
imeanpsfmag
imeanpsfmagerr
imeanpsfmagnpt
imeanpsfmagmin
imeanpsfmagmax
imeanpsfmagstd
zmeanpsfmag
zmeanpsfmagerr
zmeanpsfmagnpt
zmeanpsfmagmin
zmeanpsfmagmax
zmeanpsfmagstd
ymeanpsfmag
ymeanpsfmagerr
ymeanpsfmagnpt
ymeanpsfmagmin
ymeanpsfmagmax
ymeanpsfmagstd
gmeanapmag
gmeanapmagerr
gmeanapmagnpt
gmeanapmagstd
rmeanapmag
rmeanapmagerr
rmeanapmagnpt
rmeanapmagstd
imeanapmag
imeanapmagerr
imeanapmagnpt
imeanapmagstd
zmeanapmag
zmeanapmagerr
zmeanapmagnpt
zmeanapmagstd
ymeanapmag
ymeanapmagerr
ymeanapmagnpt
ymeanapmagstd
gmeankronmag
gmeankronmagerr
gmeankronmagnpt
gmeankronmagstd
rmeankronmag
rmeankronmagerr
rmeankronmagnpt
rmeankronmagstd
imeankronmag
imeankronmagerr
imeankronmagnpt
imeankronmagstd
zmeankronmag
zmeankronmagerr
zmeankronmagnpt
zmeankronmagstd
ymeankronmag
ymeankronmagerr
ymeankronmagnpt
ymeankronmagstd
mag
ra
dec
htmid
distance

***
## Cargar tablas MyDB por partes

Importar datos a MyDB requiere dos pasos básicos: 1) Crear la tabla en la base de datos y 2) cargar los datos.  El método *mydb_import()* combina estos pasos para su comodidad, pero proporciona funcionalidad adicional para convertir automáticamente formatos de datos y derivar el esquema de la tabla.  Si necesita anular estos pasos por algún motivo, cada paso se puede realizar individualmente.

### Crear la tabla MyDB
La creación de una tabla MyDB vacía se realiza con el método *mydb_create()*:

    resultado = queryClient.mydb_create ([token], <nombre_tabla>, <esquema_def>)
dónde

    token          token de inicio de sesión (opcional)
    table_name     nombre de la tabla MyDB a listar (opcional)
    data           nombre de archivo de datos de datos CSV, una cadena CSV o un objeto DataFrame de Pandas 
    schema_def     [Opcional, predeterminado=""] La definición del esquema se almacena en un archivo de texto o cadena.
                   Este es un archivo con formato CSV que contiene el nombre de la columna y tipo de datos (Postgres), una fila por columna.
    drop           [Opcional, predeterminado=True] Elimina cualquier tabla existente antes de cargar la nueva.
    
El paso *mydb_create()* necesita un nombre de tabla (no necesita duplicar una tabla myDB existente) y una definición de esquema.  La definición del esquema se almacena en un archivo de texto, en este caso en el directorio del notebook del usuario. El archivo de definición de esquema es un archivo con formato CSV que contiene el nombre de la columna y el tipo de datos (Postgres), una fila por columna. El token aquí es opcional.

In [35]:
# Cree un esquema simple (id,ar,dec) de una cadena de texto y dos valores dobles
schema_str = 'id,text\nra,double precision\ndec,double precision\n'
with open ('schema.txt','w') as fd:
    fd.write (schema_str)

In [36]:
# Ejemplo 1: crear una tabla a partir de un archivo de definición de esquema, eliminar la tabla existente
print("Creando tabla 'test'...",qc.mydb_create('test1','schema.txt',drop=True))

Creando tabla 'test'... OK

In [37]:
# Ejemplo 2: crear una tabla a partir de una cadena de definición de esquema
print("Creando tabla 'test'...",qc.mydb_create('test2', schema_str, drop=True))

Creando tabla 'test'... OK

In [38]:
print("Estructura tabla1:\n" + qc.mydb_list('test1'))
print("Estructura tabla2:\n" + qc.mydb_list('test2'))

Estructura tabla1:
id
ra
dec

Estructura tabla2:
id
ra
dec

### Insertar datos
La carga de una tabla MyDB con datos se realiza con el método *mydb_insert()*:

resultado = queryClient.mydb_insert ([token], <nombre_tabla>, <datos>)
dónde

    token          token de inicio de sesión (opcional)
    table_name     nombre de la tabla MyDB a listar (opcional)
    data           nombre de archivo de datos CSV o una cadena CSV
    csv_header     [Opcional, predeterminado=True] Los datos CSV contienen una fila de encabezado con nombres de columnas

Insertar los datos de un archivo/cadena en el espacio del notebook del usuario en la tabla recién creada en myDB.

In [39]:
# Ejemplo 1: cargar desde un archivo CSV
print('Cargando desde archivo:' + qc.mydb_insert('test1', 'objects.csv'))

# Ejemplo 2: cargar desde una cadena CSV
print('Cargando desde cadena:' + qc.mydb_insert('test2', data))

Cargando desde archivo:OK
Cargando desde cadena:OK

### Recuperar datos de la tabla myDB para verificar
Puede utilizar queryClient para consultar tablas en mydb, exactamente como lo haría con las tablas de la base de datos de Data Lab.

In [40]:
print("Consulta en ejecución: 'select * from mydb://test1'")
df1=convert(qc.query(sql="select * from mydb://test1"))
df1

Consulta en ejecución: 'select * from mydb://test1'

               id          ra        dec
0   1200-16738677  314.998300  35.267575
1   1200-16737889  314.994803  35.267942
2   1200-16740156  315.005123  35.270559
3   1200-16737180  314.991714  35.269028
4   1200-16736554  314.988739  35.270420
5   1200-16737350  314.992450  35.271870
6   1200-16739707  315.003048  35.273520
7   1200-16742178  315.014253  35.272075
8   1200-16742894  315.017528  35.274592
9   1200-16743776  315.021645  35.275409
10  1200-16743453  315.020131  35.276256
11  1200-16740549  315.006939  35.274864
12  1200-16740499  315.006750  35.279698
13  1200-16742673  315.016534  35.280123
14  1200-16735740  314.985175  35.276403

<a class="anchor" id="crossmatch"></a>
# Ejecutar la coincidencia cruzada
Ahora construimos una consulta para ejecutar la coincidencia cruzada en la base de datos usando *q3c_join()*, que identifica todos los objetos coincidentes dentro de un radio específico. (Consulte https://github.com/segasai/q3c para obtener detalles sobre el uso de las funciones Q3C). El formato es

    q3c_join (ra_user, dec_user, ra_DLtable, dec_DLtable, radius)

donde es importante que el catálogo de usuarios pequeño aparezca PRIMERO en la consulta y la tabla grande de la base de datos de Data Lab SEGUNDO. El radio se especifica en GRADOS.  Se hace referencia a la tabla de usuarios mediante el prefijo *mydb://* en el nombre de la tabla. En este ejemplo, analizamos el resultado en un marco de datos de Pandas con el módulo de ayuda de DL *convert()*.  En la consulta, recuperamos solo el ID de usuario y la designación del objeto de Gaia DR3 junto con la distancia de separación usando la función *q3c_dist()* (y convertimos el valor de retorno en grados a segundos de arco).

Si encuentra que su consulta q3c_join se ejecuta durante mucho tiempo, verifique:

* Que el ra, dec del catálogo PEQUEÑO aparezca PRIMERO en la consulta
* Que el radio esté en GRADOS, no p.ej. segundos de arco

(Tenga en cuenta que en este notebook utilizamos un radio de 0,01 grados o ~36 segundos de arco. Generalmente es mejor comenzar con un radio más pequeño, especialmente si espera muchas coincidencias).

In [ ]:
# Consulta de coincidencia cruzada de mydb://objects6a (nuestra pequeña tabla de PS1) contra gaia_dr3.gaia_source dentro de 0,01 grados, devuelve todas las coincidencias
sql = '''SELECT  o.objid, g.designation,
                (q3c_dist(o.ramean,o.decmean,g.ra,g.dec)*3600.0) as dist_arcsec
         FROM mydb://objects6a AS o, 
              gaia_dr3.gaia_source AS g 
         WHERE q3c_join(o.ramean, o.decmean, g.ra, g.dec, 0.01)'''
df2 = convert(qc.query(sql=sql))

In [25]:
print ('filas x ncols:' + str(df2.shape))
df2[0:10] # primeras 10 filas, tenga en cuenta varias coincidencias

nrows x ncols: (210, 3)

                objid                   designation  dist_arcsec
0  108000000004132800  Gaia DR3 2546034966433885568    33.644098
1  107990000018985382  Gaia DR3 2546034966433885568    29.641774
2  107990000054816431  Gaia DR3 2546034966433885568    16.739560
3  107990000094369406  Gaia DR3 2546034966433885568     0.024728
4  108013599948120838  Gaia DR3 2738188646457069696    22.856130
5  108000000093455743  Gaia DR3 2546034966433885568    19.168215
6  108000000105384460  Gaia DR3 2546034966433885568    15.916200
7  108003599898938079  Gaia DR3 2642111838657303808    35.941535
8  108003599898938079  Gaia DR3 2738188646457069696    21.190770
9  108003599869045137  Gaia DR3 2642111735577925376    34.998654

Tenga en cuenta nuevamente que esta consulta devuelve *__todas__* las coincidencias dentro del radio para cada objeto de la lista.  La consulta de coincidencia cruzada se puede escribir en otras tablas de resultados, como solo el vecino más cercano, solo aquellos objects en la tabla de usuario que tienen coincidencias, no coincidencias (es decir, objects sin coincidencias que se eliminan del catálogo de búsqueda), o se puede usar para filtrar previamente cualquiera de las tablas (por ejemplo, sólo coinciden con objetos 'rojos' con un perfil estelar).  La documentación de Q3C (consulte https://github.com/segasai/q3c) contiene consultas de ejemplo adicionales que puede probar.

__¿Quiere hacer solo una búsqueda del vecino más cercano?__ Este ejemplo adaptado de la documentación de Q3C selecciona solo el vecino más cercano y devuelve nulo si no se encuentra ninguno:

In [26]:
sql = '''SELECT  o.objid, gg.designation, (q3c_dist(o.ramean,o.decmean,gg.ra,gg.dec)*3600.0) as dist_arcsec 
         FROM mydb://objects6a AS o
         LEFT JOIN LATERAL (
               SELECT g.* 
                    FROM 
                        gaia_dr3.gaia_source AS g
                    WHERE
                        q3c_join(o.ramean, o.decmean, g.ra, g.dec, 0.01)
                    ORDER BY
                        q3c_dist(o.ramean,o.decmean,g.ra,g.dec)
                    ASC LIMIT 1
               ) as gg ON true'''

df3 = convert(qc.query(sql=sql))

In [27]:
print ('filas x ncols:' + str(df3.shape))
df3[0:10] # primeras 10 filas

nrows x ncols: (253, 3)

                objid                   designation  dist_arcsec
0  108000000004132800  Gaia DR3 2546034966433885568    33.644098
1  108003599979874881                           NaN          NaN
2  107990000018985382  Gaia DR3 2546034966433885568    29.641774
3  107990000054816431  Gaia DR3 2546034966433885568    16.739560
4  107990000094369406  Gaia DR3 2546034966433885568     0.024728
5  107983599973919166                           NaN          NaN
6  108013599996822453                           NaN          NaN
7  108013599948120838  Gaia DR3 2738188646457069696    22.856130
8  108000000093455743  Gaia DR3 2546034966433885568    19.168215
9  108000000105384460  Gaia DR3 2546034966433885568    15.916200

__¿No quieres las filas que no coinciden?__ Simplemente reemplaza la UNIÓN IZQUIERDA de arriba con una UNIÓN INTERNA:

In [28]:
sql = '''SELECT  o.objid, gg.designation, (q3c_dist(o.ramean,o.decmean,gg.ra,gg.dec)*3600.0) as dist_arcsec 
         FROM mydb://objects6a AS o
         INNER JOIN LATERAL (
               SELECT g.* 
                    FROM 
                        gaia_dr3.gaia_source AS g
                    WHERE
                        q3c_join(o.ramean, o.decmean, g.ra, g.dec, 0.01)
                    ORDER BY
                        q3c_dist(o.ramean,o.decmean,g.ra,g.dec)
                    ASC LIMIT 1
               ) as gg ON true'''

df4 = convert(qc.query(sql=sql))

In [29]:
print ('filas x ncols:' + str(df4.shape))
df4[0:10] # primeras 10 filas

nrows x ncols: (132, 3)

                objid                   designation  dist_arcsec
0  108000000004132800  Gaia DR3 2546034966433885568    33.644098
1  107990000018985382  Gaia DR3 2546034966433885568    29.641774
2  107990000054816431  Gaia DR3 2546034966433885568    16.739560
3  107990000094369406  Gaia DR3 2546034966433885568     0.024728
4  108013599948120838  Gaia DR3 2738188646457069696    22.856130
5  108000000093455743  Gaia DR3 2546034966433885568    19.168215
6  108000000105384460  Gaia DR3 2546034966433885568    15.916200
7  108003599898938079  Gaia DR3 2738188646457069696    21.190770
8  108003599869045137  Gaia DR3 2642111838657303808    28.265715
9  107990000145388611  Gaia DR3 2546034966433885568    18.547336

<a class="anchor" id="cleanup"></a>
# Limpiar
Si la tabla myDB estaba destinada a ser temporal, se puede eliminar con *mydb_drop()*.  Aquí, eliminaremos solo las tablas creadas en este notebook:

In [47]:
# Elimina cualquier tabla o archivo temporal que hayamos creado.
if do_cleanup:
    for table in ['test1','test2','objects1','objects2','objects3','objects4','objects5','objects6a','objects6b','objects6c']:
        print("Eliminando tabla '"+ table +"'...\t" + qc.mydb_drop(table))
    print("\nListado de tablas mydb:\n" + qc.mydb_list())
    
    for f in ['objects.csv','schema.txt']:
        if os.path.exists(f):
            os.remove (f)
    if sc.access ('vos://objects.csv'):
        print ('eliminando objects.csv')
        sc.rm ('vos://objects.csv')
    if sc.access ('vos://objects.vot'):
        print ('eliminando objects.vot')
        sc.rm ('vos://objects.vot')

Eliminando tabla 'test1'...	relation "test1" not known
Eliminando tabla 'test2'...	relation "test2" not known
Eliminando tabla 'objects1'...	relation "objects1" not known
Eliminando tabla 'objects2'...	relation "objects2" not known
Eliminando tabla 'objects3'...	relation "objects3" not known
Eliminando tabla 'objects4'...	relation "objects4" not known
Eliminando tabla 'objects5'...	relation "objects5" not known
Eliminando tabla 'objects6a'...	relation "objects6a" not known
Eliminando tabla 'objects6b'...	relation "objects6b" not known
Eliminando tabla 'objects6c'...	relation "objects6c" not known

Listado de tablas mydb:
allwisetab
basic_result
desi_dr1_survey_progress_q1
gals
largetable
lstab
table1
tbl_stat
testresult2
usno_objects
y6gold_test

Si, en cambio, desea eliminar __todas__ las tablas en su MyDB, puede hacerlo procesando la lista, p.

In [31]:
if False:      # ¡PRECAUCIÓN! Cambie esto a "if True" para eliminar todas las tablas.
    print("Listado inicial de tablas de mydb:\n" + qc.mydb_list())
    table_list = qc.list().split('\n')    # convertir cadena regresar a matriz
    for table in table_list:
        print("Eliminando table'"+ table +"'...\t" + qc.mydb_drop(table))
    print("\Listado final de tablas de base de datos:\y" + qc.mydb_list())
    print("\nLista final de VOSpace:\n" + sc.ls(format='long'))