In [1]:
__nbid__ = '0035'
__author__ = 'Knut Olsen <knut.olsen@noirlab.edu>, Mike Fitzpatrick <mike.fitzpatrick@noirlab.edu>, Adam Scott <adam.scott@noirlab.edu>'
__version__ = '20240607' # yyyymmdd
__datasets__ = ['usno.a2', 'gaia_dr3']
__keywords__ = ['crossmatch', 'mydb', 'query', 'tutorial', 'vospace']

# Cómo hacer un cambio cruzado eficiente de una tabla de usuario con una tabla en el laboratorio de datos
*Knut Olsen, Mike Fitzpatrick y Adam Scott*

# Tabla de contenido
* [Objetivos](#Objetivos)
* [Resumen](#Resumen)
* [Descargo de responsabilidad y atribución](#Atribución)
* [Importaciones estándar e inicio de sesión del laboratorio de datos](#Iniciar sesión)
* [MyDB, su almacenamiento de base de datos personal](#mydb)
* [Importar una tabla de usuario](#import)
* [Ejecute el CrossMatch](#CrossMatch)
* [Limpieza](#limpieza)

<a class = "Anchor" id = "Objetivos"> </a>
# Objetivos
En este notebook, demostramos cómo hacer un cambio cruzado eficiente de una tabla de datos proporcionada por el usuario en una tabla alojada por Data Lab.

<A class = "Anchor" id = "Resumen"> </a>
# Resumen
Los pasos básicos son:
* [Asegúrese de haber iniciado sesión como usuario registrado](#Iniciar sesión)
* [Cargue su mesa en MyDB, su área de almacenamiento de base de datos personal](#import)
* [Crear y ejecutar una consulta para hacer el CrossMatch usando la función Q3C_JOIN ()](#CrossMatch)

<a class="anchor" id="attribution"></a>
# Avisos Legales y atribuciones

Avisos Legales
-----------
Tome en cuenta que usar el Astro Data Lab constituye un acuerdo con nuestros [Avisos Legales](https://datalab.noirlab.edu/disclaimers.php) mínimos.

Reconocimientos
---------------
Si ud. usa el **Astro Data Lab** en sus publicaciones de investigación, por favor incluya el siguiente texto en la sección de Reconocimientos de su publicaciones:

_Esta investigación utiliza servicios de datos proveeidos por el Astro Data Lab, el cual es parte del Programa "Community Science and Data Center" (CSDC) (Centro de Ciencia Comunitaria y Datos) del NSF NOIRLab. NOIRLab es operado por la "Association of Universities for Research in Astronomy (AURA), Inc."(Asociación de Universidaddes para la Investigación en Astronomía, Inc.), bajo un acuerdo de cooperación con la "U.S. National Science Foundation" (Fundación Nacional de Ciencia de los EE. UU.)._

Si utiliza **SPARCL junto con la plataforma de Astro Data Lab** (por medio de JupyterLab, línea de comando o interfaz de la web) en su publicación de investigación, por favor incluya el siguiente texto en la sección de Reconocimientos de su publicaciones:

_Esta investigación utiliza servicios o datos proporcionados por el "SPectra Analysis and Retrievable Catalog Lab" (SPARCL) (Laboratorio de Análisis y Catálogo Recuperable de Espectros) y el Astro Data Lab, ambos pertenecientes al Programa "Community Science and Data Center" (CSDC) (Centro de Ciencia Comunitaria y Datos) de NSF NOIRLab. NOIRLab es operado por la "Association of Universities for Research in Astronomy (AURA), Inc." (Asociación de Universidades para la Investigación en Astronomía, Inc.), bajo un acuerdo de cooperación con la "U.S. National Science Foundation" (Fundación Nacional de Ciencia de los EE. UU.)._

En cualquiera de los casos, **por favor cite las siguientes publicaciones**:

* Publicación del concepto de Data Lab: Fitzpatrick et al., "The NOAO Data Laboratory: a conceptual overview", SPIE, 9149, 2014, https://doi.org/10.1117/12.2057445

* Descripción general del Astro Data Lab: Nikutta et al., "Data Lab - A Community Science Platform", Astronomy and Computing, 33, 2020, https://doi.org/10.1016/j.ascom.2020.100411.

Si hace referencia al Jupyterlab / Jupyter notebooks de Data Lab, cite:

* Juneau et al., "Jupyter-Enabled Astrophysical Analysis Using Data-Proximate Computing Platforms", CiSE, 23, 15, 2021, https://doi.org/10.1109/MCSE.2021.3057097.

Si publica en una revista de la AAS, agregue también la palabra clave `\facility{Astro Data Lab}`

Y si está usando SPARCL, por vor agregue también `\software{SPARCL}` y cite:

* Juneau et al., "SPARCL: SPectra Analysis and Retrievable Catalog Lab", Conference Proceedings for ADASS XXXIII, 2024
https://doi.org/10.48550/arXiv.2401.05576.

La biblioteca de NOIRLab mantiene [listas de reconocimientos apropiados](https://noirlab.edu/science/about/scientific-acknowledgments) para usar cuando se hacen publicaciones utilizando los recursos, servicios o datos del Laboratorio.

---- **Versión en Inglés** ----


# Disclaimer & attribution

Disclaimers
-----------
Note that using the Astro Data Lab constitutes your agreement with our minimal [Disclaimers](https://datalab.noirlab.edu/disclaimers.php).

Acknowledgments
---------------
If you use **Astro Data Lab** in your published research, please include the text in your paper's Acknowledgments section:

_This research uses services or data provided by the Astro Data Lab, which is part of the Community Science and Data Center (CSDC) Program of NSF NOIRLab. NOIRLab is operated by the Association of Universities for Research in Astronomy (AURA), Inc. under a cooperative agreement with the U.S. National Science Foundation._

If you use **SPARCL jointly with the Astro Data Lab platform** (via JupyterLab, command-line, or web interface) in your published research, please include this text below in your paper's Acknowledgments section:

_This research uses services or data provided by the SPectra Analysis and Retrievable Catalog Lab (SPARCL) and the Astro Data Lab, which are both part of the Community Science and Data Center (CSDC) Program of NSF NOIRLab. NOIRLab is operated by the Association of Universities for Research in Astronomy (AURA), Inc. under a cooperative agreement with the U.S. National Science Foundation._

In either case **please cite the following papers**:

* Data Lab concept paper: Fitzpatrick et al., "The NOAO Data Laboratory: a conceptual overview", SPIE, 9149, 2014, https://doi.org/10.1117/12.2057445

* Astro Data Lab overview: Nikutta et al., "Data Lab - A Community Science Platform", Astronomy and Computing, 33, 2020, https://doi.org/10.1016/j.ascom.2020.100411

If you are referring to the Data Lab JupyterLab / Jupyter Notebooks, cite:

* Juneau et al., "Jupyter-Enabled Astrophysical Analysis Using Data-Proximate Computing Platforms", CiSE, 23, 15, 2021, https://doi.org/10.1109/MCSE.2021.3057097

If publishing in a AAS journal, also add the keyword: `\facility{Astro Data Lab}`

And if you are using SPARCL, please also add `\software{SPARCL}` and cite:

* Juneau et al., "SPARCL: SPectra Analysis and Retrievable Catalog Lab", Conference Proceedings for ADASS XXXIII, 2024
https://doi.org/10.48550/arXiv.2401.05576

The NOIRLab Library maintains [lists of proper acknowledgments](https://noirlab.edu/science/about/scientific-acknowledgments) to use when publishing papers using the Lab's facilities, data, or services.

<a class = "Anchor" id = "Login"> </a>
# Importaciones estándar e inicio de sesión de laboratorio de datos

In [2]:
from dl import authClient as ac
from dl import storeClient as sc
from dl import queryClient as qc
from dl.helpers.utils import convert        # para usar pandas
import os
from getpass import getpass

do_cleanup = True                          # Eliminar cualquier archivo/tablas creado por este notebook

# Autenticación
Se puede acceder a gran parte de la funcionalidad del laboratorio de datos sin iniciar sesión explícitamente (el servicio utiliza un inicio de sesión anónimo). Pero algunas capacidades, por ejemplo, guardando los resultados de sus consultas a su espacio de almacenamiento virtual, requieren un inicio de sesión (es decir, necesitará una cuenta de usuario registrada).

Si necesita iniciar sesión en Data Lab (lo hará para ejecutar este notebook), no comine la celda a continuación y ejecutelo:

In [3]:
# token = ac.login (input ("Ingrese el nombre de usuario: (+Enter)"), GetPass ("Ingrese la contraseña: (+Enter)"))
ac.whoAmI()

'demo00'

<a class="ancla" id="mydb"></a>
# MyDB, tu almacenamiento de base de datos personal

### Obtenga una lista de tablas MyDB
Comencemos por obtener una lista de tablas existentes en MyDB. La forma de enumerar las tablas en su myDB es con el método * mydb_list () *:

        resultado = QueryClient.MyDB_List ([token], <table_name>)
dónde

        Token de inicio de sesión de token (opcional)
        TABLE_NAME Nombre de la tabla MyDB a la lista (opcional)
        
Si no se dan argumentos, se devuelve una lista de todas las tablas en el usuario MyDB, un nombre de tabla por fila.  Si se proporciona un nombre de tabla, el método devuelve una cadena CSV en el nombre de la columna y el tipo de datos, un nombre de columna por fila.

In [4]:
print("Listado de tablas MyDB: \ n" + qc.mydb_list())

Listing mydb tables:
aaa
aab
basic_result
bgsfaint_dlnotebook
cmtestoutput
cmxmatchtest
desi_tile
df_xmatch
fastspec_everest_z_lt_0p6
fiberassign
gaia_rc
gaia_sample
gaia_sample_xmatch
gals
lowmassagn_dlnotebook
secondary_dark_subset
sv1targets_bright_secondary
sv1targets_dark_secondary
tbl_stat
testcm
testingx
testresult2
testx2
testxmatchqueryout
tile
twomass_gaia1
twomass_pt1
twomasspsc
usno_objects
xmatchasyncout
xmatchasyncout2

### Base de datos de consultas con salida a mydb
La forma más básica de crear una tabla en MyDB es emitir una consulta contra una tabla en la base de datos de laboratorio de datos con salida a MyDB:

In [5]:
query = 'select top 15 id,raj2000,dej2000 from usno.a2'
try:
    qc.query(adql=query, fmt='csv', out='mydb://usno_objects')
except Exception as e:
    print(e.message)

print("Listado de tablas MyDB: \ n" + qc.mydb_list())

Error: Table name already exists. It can be dropped with queryClient.mydb_drop() or add drop=True to your current request
Listing mydb tables:
aaa
aab
basic_result
bgsfaint_dlnotebook
cmtestoutput
cmxmatchtest
desi_tile
df_xmatch
fastspec_everest_z_lt_0p6
fiberassign
gaia_rc
gaia_sample
gaia_sample_xmatch
gals
lowmassagn_dlnotebook
secondary_dark_subset
sv1targets_bright_secondary
sv1targets_dark_secondary
tbl_stat
testcm
testingx
testresult2
testx2
testxmatchqueryout
tile
twomass_gaia1
twomass_pt1
twomasspsc
usno_objects
xmatchasyncout
xmatchasyncout2

<a class = "Anchor" id = "import"> </a>
# Importar una tabla de usuario
Pero a menudo un usuario tendrá una tabla existente que desea importar a MyDB.  Las secciones a continuación muestran cómo hacer esto con una variedad de ejemplos.

### Generar algunos datos de muestra
Primero, crearemos una tabla de datos y lo almacenaremos localmente y también se pondrá en Vospacio.  Si tiene una tabla en su máquina local, puede usar la función de carga del notebook de Jupyter para copiar la tabla en Data Lab.

In [6]:
data = qc.query ('select id,raj2000 as ra,dej2000 as dec from usno.a2 limit 15')  # Cadena CSV
with open ('objects.csv','w') as fd:                                               # Archivo de datos CSV
    fd.write (data)   
df = convert(data)                                                                 # Pandas DataFrame
tsv = data.replace(',','\t')                                                       # Separado por las pestañas
asv = data.replace(',',' ')                                                        # Ascii-separado
bsv = data.replace(',','|')                                                        # Separado

if sc.access ('vos://objects.csv'):
    sc.rm ('vos://objects.csv')
if sc.access ('vos://objects.vot'):
    sc.rm ('vos://objects.vot')
sc.put ('objects.csv', 'vos://objects.csv')                                        # Pon una copia en el vogido
print(sc.ls ('objetos.*', format='largo', verbose=True))

(1 / 1) objects.csv -> vos://objects.csv
-rw-rw-r-x  demo00     528  21 Aug 2023 13:56  objects.csv

También podríamos tener el resultado del resultado de la consulta anterior directamente a Vospacio.

In [7]:
query = 'select top 15 id,raj2000,dej2000 from usno.a2'
qc.query(adql=query, fmt='votable', out='vos://objects.vot') # FixMe: falla el archivo existente para el archivo existente
print(sc.ls ('objetos.*', format='largo', verbose=True))

-rw-rw-r-x  demo00     528  21 Aug 2023 13:56  objects.csv
-rw-rw-r-x  demo00    2026  21 Aug 2023 13:56  objects.vot

<a class = "Anchor" id = "import"> </a>
### Importar una tabla directamente a MyDB
La forma más sencilla de importar una mesa a su MyDB es con el método * myDB_Import () *:

        resultado = QueryClient.MyDB_Import ([token], <table_name>, <data> [, schema = <chema_def>])
dónde

        Token de inicio de sesión de token (opcional)
        TABLE_NAME Nombre de la tabla MyDB para crear
        Nombre de archivo de datos de datos CSV, una cadena CSV o un objeto Pandas DataFrame
        schema_def [opcional, default = ""] La definición de esquema se almacena en un archivo o cadena de texto. 
                      Este es un archivo con formato CSV que contiene el nombre de la columna, (Postgres) Datos 
                      tipo, una fila por columna.
        soltar [opcional, default = true] solte cualquier tabla existente antes de cargar la nueva.

#### Ejemplo 1: Importar un archivo CSV (local) a una tabla MyDB llamada 'Objects1'

In [8]:
print ('Resultado del archivo local:'   + qc.mydb_import ('Objetos1', 'Objects.csv'))

Local file result: OK

#### Ejemplo 2: Importar un archivo CSV desde su almacenamiento virtual a una tabla MyDB llamada 'Objects2'

In [9]:
print ('Resultado del archivo VOS:'   + qc.mydb_import ('Objetos2', 'Vos: //objects.csv', verbose=True))

15 row(s) imported to mydb_1018."objects2"

VOS file result: OK

#### Ejemplo 3: Importar directamente desde una cadena que contiene datos CSV (u otros delimitados)

In [10]:
print ('Resultado de cadena (CSV):' + qc.mydb_import ('Objetos3', data))
# Impresa ('String (TSV) Resultado:' + Qc.mydb_import ('Objects3', data, delimiter = '\ t')))
# Impresa ('String (ASV) Resultado:' + Qc.mydb_import ('Objects3', data, delimiter = '')))
# print ('Resultado de cadena (BSV): ' + qc.mydb_import ('objetos3', datos, delimitador ='|'))

String (CSV) result: OK

#### Ejemplo 4: Importar un marco de datos Pandas directamente a una tabla MyDB

In [11]:
print ('Resultado de pandas:' + qc.mydb_import ('objetos4', df))

Pandas result: OK

### Ejemplo 5: Importar datos de CSV, luego agregar a la tabla

In [12]:
res = qc.mydb_import ('objects5', data, verbose=True)             # Deje caer la tabla existente de forma predeterminada
print ('Num filas en objetos5:' + qc.query('Seleccione Count (*) de MyDB: // Objects5',fmt='CSV'))

res = qc.mydb_import ('objects5', data, verbose=True, drop=False) # Deshabilitar 'soltar' para agregar
print ('Num filas en objetos5:' + qc.query('seleccione recuento (*) de mydb://objects5',fmt='CSV'))

15 row(s) imported to mydb_1018."objects5"

Num rows in objects5: count
15

15 row(s) imported to mydb_1018."objects5"

Num rows in objects5: count
15

#### Ejemplo 6: Importar un votable almacenado en almacenamiento virtual

In [13]:
# Genere un voto llamando al servicio de búsqueda de cono de Panstarrs.
ps1_base_url = 'http://gsss.stsci.edu/webservices/vo/ConeSearch.aspx?CAT=PS1V3OBJECTS&'
ps1_url = ps1_base_url + ('RA={0}&DEC={1}&SR={2}'.format(0.0,0.0,0.05))
os.system ('wget -q -O ps1.vot "' + ps1_url + '"')

# Coloque una copia en un almacenamiento virtual.
sc.put('ps1.vot',to='vos://ps1.vot')

print (ps1_url)

(1 / 1) ps1.vot -> vos://ps1.vot
http://gsss.stsci.edu/webservices/vo/ConeSearch.aspx?CAT=PS1V3OBJECTS&RA=0.0&DEC=0.0&SR=0.05

Ahora cargue la tabla MyDB directamente desde el votable en el disco local, en el vogido y directamente de la URL:

In [14]:
res = qc.mydb_import ('objects6a', 'ps1.vot', verbose=True)             # Cargar desde el local votable
print ('Importar res:' + res)
print ('Núm. filas en objetos6a:' + qc.query('Seleccione Count (*) de MyDB: // Objects6a',fmt='csv'))

253 row(s) imported to mydb_1018."objects6a"

import res: OK
Num rows in objects6a: count
253

In [15]:
res = qc.mydb_import ('objects6b', 'vos://ps1.vot', verbose=True)       # Cargar desde el almacenamiento virtual votable
print ('Num filas en objetos6b:' + qc.query('Seleccione Count (*) de MyDB: // Objects6b',fmt='CSV'))

253 row(s) imported to mydb_1018."objects6b"

Num rows in objects6b: count
253

In [16]:
res = qc.mydb_import ('objects6c', ps1_url, verbose=True)               # Cargar desde URL de servicio directamente
print ('Num filas en objetos6c:' + qc.query('Seleccione Count (*) de MyDB: // Objects6c',fmt='CSV'))

253 row(s) imported to mydb_1018."objects6c"

Num rows in objects6c: count
253

Tenga en cuenta que para cada una de las tablas creadas, los nombres de la columna y los tipos de datos se determinaron automáticamente.  Podemos verificar si estos son correctos enumerando las columnas usando *mydb_list () *.

In [17]:
print (qc.mydb_list('objects4'))              # El uso del prefijo 'mydb: //' es opcional
print (qc.mydb_list('mydb: // objetos6a'))

id
ra
dec

objname
objid
ndetections
nstackdetections
ng
nr
ni
nz
ny
objinfoflag
qualityflag
ramean
decmean
rameanerr
decmeanerr
gflags
rflags
iflags
zflags
yflags
gqfperfect
rqfperfect
iqfperfect
zqfperfect
yqfperfect
gmeanpsfmag
gmeanpsfmagerr
gmeanpsfmagnpt
gmeanpsfmagmin
gmeanpsfmagmax
gmeanpsfmagstd
rmeanpsfmag
rmeanpsfmagerr
rmeanpsfmagnpt
rmeanpsfmagmin
rmeanpsfmagmax
rmeanpsfmagstd
imeanpsfmag
imeanpsfmagerr
imeanpsfmagnpt
imeanpsfmagmin
imeanpsfmagmax
imeanpsfmagstd
zmeanpsfmag
zmeanpsfmagerr
zmeanpsfmagnpt
zmeanpsfmagmin
zmeanpsfmagmax
zmeanpsfmagstd
ymeanpsfmag
ymeanpsfmagerr
ymeanpsfmagnpt
ymeanpsfmagmin
ymeanpsfmagmax
ymeanpsfmagstd
gmeanapmag
gmeanapmagerr
gmeanapmagnpt
gmeanapmagstd
rmeanapmag
rmeanapmagerr
rmeanapmagnpt
rmeanapmagstd
imeanapmag
imeanapmagerr
imeanapmagnpt
imeanapmagstd
zmeanapmag
zmeanapmagerr
zmeanapmagnpt
zmeanapmagstd
ymeanapmag
ymeanapmagerr
ymeanapmagnpt
ymeanapmagstd
gmeankronmag
gmeankronmagerr
gmeankronmagnpt
gmeankronmagstd
rmeankronmag
rmeankronmagerr
rmeankronmagnpt
rmeankronmagstd
imeankronmag
imeankronmagerr
imeankronmagnpt
imeankronmagstd
zmeankronmag
zmeankronmagerr
zmeankronmagnpt
zmeankronmagstd
ymeankronmag
ymeankronmagerr
ymeankronmagnpt
ymeankronmagstd
mag
ra
dec
htmid
distance

***
## Carga por partes de tablas MyDB

La importación de datos a MyDB requiere dos pasos básicos: 1) Crear la tabla en la base de datos y 2) Cargar los datos.  El método * mydb_import () * combina estos pasos como una conveniencia, pero proporciona funcionalidad adicional para convertir automáticamente los formatos de datos y derivar el esquema de la tabla.  Si debe anular estos pasos por alguna razón, cada paso se puede hacer individualmente.

### Crea la mesa MyDB
La creación de una mesa myDB vacía se realiza con el método * mydb_create () *:

    result = QueryClient.MyDB_Create ([token], <table_name>, <Schema_def>)
dónde

    Token de inicio de sesión de token (opcional)
    TABLE_NAME Nombre de la tabla MyDB para crear
    schema_def El nombre de archivo que contiene una definición de esquema, o una cadena que contiene la definición de esquema
    soltar [opcional, default = true] solte cualquier tabla existente antes de cargar la nueva.
    
El paso * mydb_create () * necesita un nombre de tabla (no necesita duplicar una tabla MyDB existente) y una definición de esquema.  La definición del esquema se almacena en un archivo de texto, en este caso en el directorio del notebook del usuario. El archivo de definición del esquema es un archivo con formato CSV que contiene nombre de columna y tipo de datos (postgras), una fila por columna. El token aquí es opcional.

In [18]:
# Cree un esquema simple (id, ra, dec) de una cadena de texto y dos valores dobles
schema_str = 'id,text\nra,double precision\ndec,double precision\n'
with open ('schema.txt','w') as fd:
    fd.write (schema_str)

In [19]:
# Ejemplo 1: cree una tabla a partir de un archivo de definición de esquema, suelte la tabla existente
print("Mesa de creación'test'...",qc.mydb_create('prueba1','esquema.txt',drop=True))

Creating table 'test'...  OK

In [20]:
# Ejemplo 2: Crear una tabla a partir de una definición de esquema STR
print("Mesa de creación'test'...",qc.mydb_create('test2', schema_str, drop=True))

Creating table 'test'...  OK

In [21]:
print("Tabla 1 Estructura: \ n" + qc.mydb_list('prueba1'))
print("Tabla2 Estructura: \ n" + qc.mydb_list('test2'))

table1 structure:
id
ra
dec

table2 structure:
id
ra
dec

### Insertar datos 
La carga de una tabla MyDB con datos se realiza con el método * myDB_INSERT () *:

    result = QueryClient.MyDB_INSERT ([Token], <Able_name>, <Data>)
dónde

    Token de inicio de sesión de token (opcional)
    TABLE_NAME Nombre de la tabla MyDB para cargar
    Nombre de archivo de datos de datos CSV o una cadena CSV
    csv_header [opcional, default = true] Los datos de CSV contienen una fila de encabezado de nombres de columna
    
Inserte los datos de un archivo/cadena en el espacio del notebook del usuario en la tabla recién creada en MyDB.

In [22]:
# Ejemplo 1: Cargar desde un archivo CSV
print('Carga desde el archivo:' + qc.mydb_insert('prueba1', 'objetos.csv'))

# Ejemplo 2: cargar desde una cadena CSV
print('Carga desde la cadena:' + qc.mydb_insert('test2', data))

Loading from file:   OK
Loading from string: OK

### Recuperar datos de la tabla MyDB para verificar
Puede usar las tablas de consulta para consultar en MyDB, exactamente como lo haría para las tablas de bases de datos de laboratorio de datos.

In [23]:
print("Consulta en ejecución:'select * from mydb://test1'")
df1=convert(qc.query(sql="select * from mydb://test1"))
df1

Running query: 'select * from mydb://test1'

               id          ra        dec
0   1200-16738677  314.998300  35.267575
1   1200-16737889  314.994803  35.267942
2   1200-16740156  315.005123  35.270559
3   1200-16737180  314.991714  35.269028
4   1200-16736554  314.988739  35.270420
5   1200-16737350  314.992450  35.271870
6   1200-16739707  315.003048  35.273520
7   1200-16742178  315.014253  35.272075
8   1200-16742894  315.017528  35.274592
9   1200-16743776  315.021645  35.275409
10  1200-16743453  315.020131  35.276256
11  1200-16740549  315.006939  35.274864
12  1200-16740499  315.006750  35.279698
13  1200-16742673  315.016534  35.280123
14  1200-16735740  314.985175  35.276403

<a class = "Anchor" id = "CrossMatch"> </a>
# Ejecute el CrossMatch
Ahora construimos una consulta para ejecutar el CrossMatch en la base de datos usando *Q3C_JOIN () *, que identifica todos los objetos coincidentes dentro de un radio especificado. (Consulte https://github.com/segasi/q3c para obtener detalles sobre el uso de funciones Q3C.) El formato es 

        Q3C_JOIN (RA_USER, DEC_USER, RA_DLTABLE, DEC_DLTABLE, RADIUS) 
Donde es importante que el catálogo de usuarios pequeños aparezca primero en la consulta, y la gran tabla de Data Lab Base de datos en segundo lugar. El radio se especifica en grados.  La tabla de usuario se hace referencia utilizando un * mydb: // * prefijo en el nombre de la tabla. En este ejemplo, analizamos el resultado en un marco de datos PANDAS con el módulo DL Helpers *Convert () *.  En la consulta, recuperamos solo la ID de usuario y la designación del objeto de Gaia DR3 junto con la distancia de separación utilizando la función * Q3C_DIST () * (y convertimos el valor de retorno en grados a ArcSec).

Si encuentra que su consulta Q3C_Join se ejecuta mucho tiempo, verifique:
* Que la ra, dec del pequeño catálogo aparece primero en la consulta
* Que el radio está en grados, no, p. arcos

(Tenga en cuenta que en este notebook, usamos un radio de 0.01 grados o ~ 36 arcos. Por lo general, es mejor comenzar con un radio más pequeño, especialmente si espera muchas coincidencias).

In [24]:
# consulta xmatch de mydb: // objetos6a (nuestra pequeña tabla PS1) contra Gaia_dr3.gaia_source dentro de 0.01 grados, devuelve todas las coincidencias
sql = '''SELECT  o.objid, g.designation,
                (q3c_dist(o.ramean,o.decmean,g.ra,g.dec)*3600.0) as dist_arcsec
         FROM mydb://objects6a AS o, 
              gaia_dr3.gaia_source AS g 
         WHERE q3c_join(o.ramean, o.decmean, g.ra, g.dec, 0.01)'''
df2 = convert(qc.query(sql=sql))

In [25]:
print ('nrows x ncols:' + str(df2.shape))
df2[0:10] # Primeras 10 filas, nota múltiples coincidencias

nrows x ncols: (210, 3)

                objid                   designation  dist_arcsec
0  108000000004132800  Gaia DR3 2546034966433885568    33.644098
1  107990000018985382  Gaia DR3 2546034966433885568    29.641774
2  107990000054816431  Gaia DR3 2546034966433885568    16.739560
3  107990000094369406  Gaia DR3 2546034966433885568     0.024728
4  108013599948120838  Gaia DR3 2738188646457069696    22.856130
5  108000000093455743  Gaia DR3 2546034966433885568    19.168215
6  108000000105384460  Gaia DR3 2546034966433885568    15.916200
7  108003599898938079  Gaia DR3 2642111838657303808    35.941535
8  108003599898938079  Gaia DR3 2738188646457069696    21.190770
9  108003599869045137  Gaia DR3 2642111735577925376    34.998654

Tenga en cuenta nuevamente que esta consulta devuelve * __ todas __ * coinciden dentro del radio para cada objeto en la lista.  La consulta CrossMatch se puede escribir en otras tablas de resultados, como solo el vecino más cercano, solo aquellos objetos en la tabla de usuarios que tienen coincidencias, no coincidentes (es decir, objetos sin coincidir con los desechos de catálogo de búsqueda), o se pueden usar para pre-filtros (por ejemplo, solo coinciden con objetos 'rojos' con un perfil estelar).  La documentación Q3C (ver https://github.com/segasi/q3c) contiene consultas de ejemplo adicionales que puede probar.

__Want para hacer solo una búsqueda de vecinos más cercano? __ Este ejemplo adaptado de la selección de documentación Q3C solo al vecino más cercano, devolviendo nulo si no se encuentra ninguno:

In [26]:
sql = '''SELECT  o.objid, gg.designation, (q3c_dist(o.ramean,o.decmean,gg.ra,gg.dec)*3600.0) as dist_arcsec 
         FROM mydb://objects6a AS o
         LEFT JOIN LATERAL (
               SELECT g.* 
                    FROM 
                        gaia_dr3.gaia_source AS g
                    WHERE
                        q3c_join(o.ramean, o.decmean, g.ra, g.dec, 0.01)
                    ORDER BY
                        q3c_dist(o.ramean,o.decmean,g.ra,g.dec)
                    ASC LIMIT 1
               ) as gg ON true'''

df3 = convert(qc.query(sql=sql))

In [27]:
print ('nrows x ncols:' + str(df3.shape))
df3[0:10] # Primeras 10 filas

nrows x ncols: (253, 3)

                objid                   designation  dist_arcsec
0  108000000004132800  Gaia DR3 2546034966433885568    33.644098
1  108003599979874881                           NaN          NaN
2  107990000018985382  Gaia DR3 2546034966433885568    29.641774
3  107990000054816431  Gaia DR3 2546034966433885568    16.739560
4  107990000094369406  Gaia DR3 2546034966433885568     0.024728
5  107983599973919166                           NaN          NaN
6  108013599996822453                           NaN          NaN
7  108013599948120838  Gaia DR3 2738188646457069696    22.856130
8  108000000093455743  Gaia DR3 2546034966433885568    19.168215
9  108000000105384460  Gaia DR3 2546034966433885568    15.916200

__¿No quieres las filas que no coinciden?__ Simplemente reemplaza la UNIÓN IZQUIERDA de arriba con una UNIÓN INTERNA:

In [28]:
sql = '''SELECT  o.objid, gg.designation, (q3c_dist(o.ramean,o.decmean,gg.ra,gg.dec)*3600.0) as dist_arcsec 
         FROM mydb://objects6a AS o
         INNER JOIN LATERAL (
               SELECT g.* 
                    FROM 
                        gaia_dr3.gaia_source AS g
                    WHERE
                        q3c_join(o.ramean, o.decmean, g.ra, g.dec, 0.01)
                    ORDER BY
                        q3c_dist(o.ramean,o.decmean,g.ra,g.dec)
                    ASC LIMIT 1
               ) as gg ON true'''

df4 = convert(qc.query(sql=sql))

In [29]:
print ('nrows x ncols:' + str(df4.shape))
df4[0:10] # Primeras 10 filas

nrows x ncols: (132, 3)

                objid                   designation  dist_arcsec
0  108000000004132800  Gaia DR3 2546034966433885568    33.644098
1  107990000018985382  Gaia DR3 2546034966433885568    29.641774
2  107990000054816431  Gaia DR3 2546034966433885568    16.739560
3  107990000094369406  Gaia DR3 2546034966433885568     0.024728
4  108013599948120838  Gaia DR3 2738188646457069696    22.856130
5  108000000093455743  Gaia DR3 2546034966433885568    19.168215
6  108000000105384460  Gaia DR3 2546034966433885568    15.916200
7  108003599898938079  Gaia DR3 2738188646457069696    21.190770
8  108003599869045137  Gaia DR3 2642111838657303808    28.265715
9  107990000145388611  Gaia DR3 2546034966433885568    18.547336

<a class = "Anchor" id = "Cleanup"> </a>
# Limpieza
Si la tabla MyDB estaba destinada a ser temporal, se puede soltar con *mydb_drop () *.  Aquí, soltaremos solo las tablas creadas en este notebook:

In [30]:
# Deje caer cualquier tabla o archivo temporal que creamos.
if do_cleanup:
    for table in ['test1','test2','objects1','objects2','objects3','objects4','objects5','objects6a','objects6b','objects6c']:
        print("Mesa de soltar'"+ tabla +"'... \ t" + qc.mydb_drop(table))
    print("Listado de tablas MyDB: \ n" + qc.mydb_list())
    
    for f in ['objects.csv','schema.txt']:
        if os.path.exists(f):
            os.remove (f)
    if sc.access ('vos://objects.csv'):
        print ('eliminar objetos.csv')
        sc.rm ('vos://objects.csv')
    if sc.access ('vos://objects.vot'):
        print ('eliminar objetos.vot')
        sc.rm ('vos://objects.vot')

Dropping table 'test1' ... 	OK
Dropping table 'test2' ... 	OK
Dropping table 'objects1' ... 	OK
Dropping table 'objects2' ... 	OK
Dropping table 'objects3' ... 	OK
Dropping table 'objects4' ... 	OK
Dropping table 'objects5' ... 	OK
Dropping table 'objects6a' ... 	OK
Dropping table 'objects6b' ... 	OK
Dropping table 'objects6c' ... 	OK
Listing mydb tables:
aaa
aab
basic_result
bgsfaint_dlnotebook
cmtestoutput
cmxmatchtest
desi_tile
df_xmatch
fastspec_everest_z_lt_0p6
fiberassign
gaia_rc
gaia_sample
gaia_sample_xmatch
gals
lowmassagn_dlnotebook
secondary_dark_subset
sv1targets_bright_secondary
sv1targets_dark_secondary
tbl_stat
testcm
testingx
testresult2
testx2
testxmatchqueryout
tile
twomass_gaia1
twomass_pt1
twomasspsc
usno_objects
xmatchasyncout
xmatchasyncout2

removing objects.csv
removing objects.vot

Si, en su lugar, desea soltar tablas __all__ en su MyDB, puede hacerlo procesando la lista, p.

In [31]:
if False:      # ¡PRECAUCIÓN! Cambie esto a 'si es cierto' para eliminar todas las tablas
    print("Listado inicial de tablas mydb:\n" + qc.mydb_list())
    table_list = qc.list().split('\n')    # convertir la cadena regresar a la matriz
    for table in table_list:
        print("Mesa de soltar'"+ tabla +"'... \ t" + qc.mydb_drop(table))
    print("Listado \ nfinal de las tablas MyDB: \ n" + qc.mydb_list())
    print("\ nfinal List of Vospace: \ n" + sc.ls(format='largo'))