In [1]:
__nbid__ = '0034'
__author__ = 'Alice Jacques <alice.jacques@noirlab.edu>, Astro Data Lab Team <datalab@noirlab.edu>' 
__version__ = '20240607' # yyyymmdd
__datasets__ = ['ls_dr9', 'sdss_dr17', 'gaia_dr3', 'des_dr2'] 
__keywords__ = ['crossmatch', 'joint query', 'mydb', 'vospace']

# Ejemplos utilizando las tablas pre-cross en Astro Data Lab

por Alice Jacques y el equipo de Astro Data Lab

### Tabla de contenido
* [Objetivos](#Objetivos)
* [Descargo de responsabilidad y atribución](#Atribución)
* [Importaciones y configuración](#import)
* [Autenticación](#Auth)
* [Escribir una consulta con una declaración de unión](#JoinQuery)
* [Ejemplos de uso de una declaración de unión en una consulta con catálogos LS y SDSS](#LSSDSS)
* [Guardar resultados en Vospacio](#SavetovoSpace)
* [Guardar resultados en MyDB](#SaveTomyDB)
* [Ejemplo usando una tabla de usuario y una tabla pre-CrossMatched](#usertable)
* [Recursos y referencias](#refs)

<a class = "Anchor" id = "Objetivos"> </a>
# Objetivos

* Aprenda a escribir una consulta con una declaración de unión para recuperar información de una tabla previa al cruce y otra tabla de laboratorio de datos
* Utilice una tabla proporcionada por el usuario para transmitir una tabla de laboratorio de datos

Para obtener una explicación más profunda de las tablas pre-cruzadas alojadas en Astro Data Lab, consulte nuestro [How-to Usar el notebook de tablas pre-Crossmatched](https://github.com/astro-datalab/notebooks-latest/blob/04_howtos/cossmatchtables/HOW_TO_SUSE_PRERSMOTESSMABEDBE.

<a class="anchor" id="attribution"></a>
# Avisos Legales y atribuciones

Avisos Legales
-----------
Tome en cuenta que usar el Astro Data Lab constituye un acuerdo con nuestros [Avisos Legales](https://datalab.noirlab.edu/disclaimers.php) mínimos.

Reconocimientos
---------------
Si ud. usa el **Astro Data Lab** en sus publicaciones de investigación, por favor incluya el siguiente texto en la sección de Reconocimientos de su publicaciones:

_Esta investigación utiliza servicios de datos proveeidos por el Astro Data Lab, el cual es parte del Programa "Community Science and Data Center" (CSDC) (Centro de Ciencia Comunitaria y Datos) del NSF NOIRLab. NOIRLab es operado por la "Association of Universities for Research in Astronomy (AURA), Inc."(Asociación de Universidaddes para la Investigación en Astronomía, Inc.), bajo un acuerdo de cooperación con la "U.S. National Science Foundation" (Fundación Nacional de Ciencia de los EE. UU.)._

Si utiliza **SPARCL junto con la plataforma de Astro Data Lab** (por medio de JupyterLab, línea de comando o interfaz de la web) en su publicación de investigación, por favor incluya el siguiente texto en la sección de Reconocimientos de su publicaciones:

_Esta investigación utiliza servicios o datos proporcionados por el "SPectra Analysis and Retrievable Catalog Lab" (SPARCL) (Laboratorio de Análisis y Catálogo Recuperable de Espectros) y el Astro Data Lab, ambos pertenecientes al Programa "Community Science and Data Center" (CSDC) (Centro de Ciencia Comunitaria y Datos) de NSF NOIRLab. NOIRLab es operado por la "Association of Universities for Research in Astronomy (AURA), Inc." (Asociación de Universidades para la Investigación en Astronomía, Inc.), bajo un acuerdo de cooperación con la "U.S. National Science Foundation" (Fundación Nacional de Ciencia de los EE. UU.)._

En cualquiera de los casos, **por favor cite las siguientes publicaciones**:

* Publicación del concepto de Data Lab: Fitzpatrick et al., "The NOAO Data Laboratory: a conceptual overview", SPIE, 9149, 2014, https://doi.org/10.1117/12.2057445

* Descripción general del Astro Data Lab: Nikutta et al., "Data Lab - A Community Science Platform", Astronomy and Computing, 33, 2020, https://doi.org/10.1016/j.ascom.2020.100411.

Si hace referencia al Jupyterlab / Jupyter notebooks de Data Lab, cite:

* Juneau et al., "Jupyter-Enabled Astrophysical Analysis Using Data-Proximate Computing Platforms", CiSE, 23, 15, 2021, https://doi.org/10.1109/MCSE.2021.3057097.

Si publica en una revista de la AAS, agregue también la palabra clave `\facility{Astro Data Lab}`

Y si está usando SPARCL, por vor agregue también `\software{SPARCL}` y cite:

* Juneau et al., "SPARCL: SPectra Analysis and Retrievable Catalog Lab", Conference Proceedings for ADASS XXXIII, 2024
https://doi.org/10.48550/arXiv.2401.05576.

La biblioteca de NOIRLab mantiene [listas de reconocimientos apropiados](https://noirlab.edu/science/about/scientific-acknowledgments) para usar cuando se hacen publicaciones utilizando los recursos, servicios o datos del Laboratorio.

---- **Versión en Inglés** ----


# Disclaimer & attribution

Disclaimers
-----------
Note that using the Astro Data Lab constitutes your agreement with our minimal [Disclaimers](https://datalab.noirlab.edu/disclaimers.php).

Acknowledgments
---------------
If you use **Astro Data Lab** in your published research, please include the text in your paper's Acknowledgments section:

_This research uses services or data provided by the Astro Data Lab, which is part of the Community Science and Data Center (CSDC) Program of NSF NOIRLab. NOIRLab is operated by the Association of Universities for Research in Astronomy (AURA), Inc. under a cooperative agreement with the U.S. National Science Foundation._

If you use **SPARCL jointly with the Astro Data Lab platform** (via JupyterLab, command-line, or web interface) in your published research, please include this text below in your paper's Acknowledgments section:

_This research uses services or data provided by the SPectra Analysis and Retrievable Catalog Lab (SPARCL) and the Astro Data Lab, which are both part of the Community Science and Data Center (CSDC) Program of NSF NOIRLab. NOIRLab is operated by the Association of Universities for Research in Astronomy (AURA), Inc. under a cooperative agreement with the U.S. National Science Foundation._

In either case **please cite the following papers**:

* Data Lab concept paper: Fitzpatrick et al., "The NOAO Data Laboratory: a conceptual overview", SPIE, 9149, 2014, https://doi.org/10.1117/12.2057445

* Astro Data Lab overview: Nikutta et al., "Data Lab - A Community Science Platform", Astronomy and Computing, 33, 2020, https://doi.org/10.1016/j.ascom.2020.100411

If you are referring to the Data Lab JupyterLab / Jupyter Notebooks, cite:

* Juneau et al., "Jupyter-Enabled Astrophysical Analysis Using Data-Proximate Computing Platforms", CiSE, 23, 15, 2021, https://doi.org/10.1109/MCSE.2021.3057097

If publishing in a AAS journal, also add the keyword: `\facility{Astro Data Lab}`

And if you are using SPARCL, please also add `\software{SPARCL}` and cite:

* Juneau et al., "SPARCL: SPectra Analysis and Retrievable Catalog Lab", Conference Proceedings for ADASS XXXIII, 2024
https://doi.org/10.48550/arXiv.2401.05576

The NOIRLab Library maintains [lists of proper acknowledgments](https://noirlab.edu/science/about/scientific-acknowledgments) to use when publishing papers using the Lab's facilities, data, or services.

<a class = "Anchor" id = "import"> </a>
# Importaciones y configuración

In [2]:
# std lib
from getpass import getpass

# Tercero
from astropy.utils.data import download_file  # Importar archivo de URL
from matplotlib.ticker import NullFormatter
import pylab as plt
import matplotlib
%matplotlib inline

# Laboratorio de datos
from dl import authClient as ac, queryClient as qc, storeClient as sc
from dl.helpers.utils import convert # Convierte la tabla a objeto Pandas DataFrame

<a class="ancla" id="auth"></a>
# Autenticación
Se puede acceder a gran parte de la funcionalidad de Data Lab sin iniciar sesión explícitamente (el servicio utiliza un inicio de sesión anónimo). Pero algunas capacidades, por ejemplo guardar los resultados de sus consultas en su espacio de almacenamiento virtual, requieren un inicio de sesión (es decir, necesitará una cuenta de usuario registrada).

Si necesita iniciar sesión en Data Lab, descomente la celda a continuación y ejecútela:

In [3]:
# token = ac.login (input ("Ingrese el nombre de usuario: (+Enter)"), GetPass ("Ingrese la contraseña: (+Enter)"))
ac.whoAmI()

'demo00'

<a class = "Anchor" id = "JoinQuery"> </a>
# Escribir una consulta con una declaración de unión
Para extraer solo las columnas relevantes relacionadas con nuestra pregunta científica de múltiples tablas de datos, podemos escribir una consulta que use una declaración de unión. Hay 4 tipos principales de declaraciones de unión que podríamos usar, y cuál que decidimos elegir depende de cómo queremos extraer la información. 
1. ** (Inner) Únete **: Devuelve filas que tienen valores coincidentes en ambas tablas
2. ** Izquierda (externa) Únete **: Devuelve todas las filas de la mesa izquierda y las filas emparejadas desde la mesa derecha
3. ** Derecha (externa) Únete **: Devuelve todas las filas de la tabla derecha y las filas emparejadas desde la mesa izquierda
4. ** Full (externo) unirse **: Devuelve todas las filas cuando hay una coincidencia en la mesa izquierda o derecha

Tómese un momento para mirar sobre la figura a continuación que describe los diversos tipos de declaración de unión.  
Nota: La unión predeterminada es una `unión interna '.

<img src = 'join.png'> </img>

### `Únete lateral`
En las consultas de CrossMatch de vecinos más cercanos, usamos `unión lateral`, que es como un bucle SQL foreach que iterará sobre cada fila en un conjunto de resultados y evaluará una subconsulta utilizando esa fila como parámetro.

<a class = "Anchor" id = "LSSDSS"> </a>
# Ejemplos de uso de una declaración de unión en una consulta con catálogos LS y SDSS
## Ejemplo 1: una sola unión
Primero examinaremos el desplazamiento al rojo espectroscópico de los objetos que se encuentran tanto en el catálogo SDSS DR17 como en el catálogo LS DR9 escribiendo una consulta con una sola declaración de unión entre su tabla pre-cross y la tabla SDSS DR17. Las dos tablas CrossMatch relacionadas con estos dos catálogos son:

`ls_dr9.x1p5__tractor__sdss_dr17__specobj`  
`sdss_dr17.x1p5__specobj__ls_dr9__tractor`

La elección de cuáles de estas dos tablas CrossMatch para usar deben basarse en la pregunta científica que se plantea. Por ejemplo, la pregunta * '¿Cómo cambia la estructura de una galaxia con el desplazamiento al rojo?' * * Depende de los valores de desplazamiento rojo obtenidos de SDSS DR17, por lo que debemos usar la tabla CrossMatch que tiene SDSS DR17 como la primera tabla. Por lo tanto, la información relevante que queremos seleccionar de nuestras dos tablas de interés para este ejemplo son:

1. "X" = `SDSS_DR17.X1P5__SPECOBJ__LS_DR9__tractor`
    - ** RA1 ** (RA del objeto SDSS)
    - ** Dic1 ** (dec del objeto SDSS)
2. "S" = `SDSS_DR17.specobj`
    - ** Z ** (Redshift)

### Escriba la consulta de la declaración de unión única
Ahora que sabemos de qué queremos y de dónde lo queremos, escribamos la consulta e imprima los resultados en la pantalla. Aquí usamos una declaración de unión: buscará en la tabla SDSS DR17 `Specobj` para filas que tienen el mismo valor de identificación de SDSS (` specobjid`) como en la tabla previa a la interrupción (`ID1`) y recuperan las columnas deseadas de la tabla SD17` Specobj` pre-ross dentro de la región especificada de RA y dec.

In [4]:
query_single = ("""
SELECT 
    X.ra1 AS ra_sdss, X.dec1 AS dec_sdss,
    S.z
FROM
    sdss_dr17.x1p5__specobj__ls_dr9__tractor AS X 
JOIN
    sdss_dr17.specobj AS S ON X.id1 = S.specobjid 
WHERE
    X.ra1 BETWEEN %s and %s and X.dec1 BETWEEN %s and %s
LIMIT 10000

SELECT
    X.ra1 AS ra_sdss, X.dec1 AS dec_sdss,
    S.z
FROM
    sdss_dr17.x1p5__specobj__ls_dr9__tractor AS X
JOIN
    sdss_dr17.specobj AS S ON X.id1 = S.specobjid
WHERE
    X.ra1 BETWEEN 110 and 200 and X.dec1 BETWEEN 7.0 and 40.0
LIMIT 10000

### Ejecutar la consulta de instrucción de unión única y los resultados de impresión

In [5]:
df_single = qc.query(sql=query_single,fmt='pandas')
df_single

        ra_sdss   dec_sdss         z
0     110.00027  39.699210  0.516598
1     110.00065  39.613622  0.053511
2     110.00140  30.987794 -0.000062
3     110.00143  37.534445 -0.000253
4     110.00192  39.751928  0.000305
...         ...        ...       ...
9995  113.28194  25.709454  0.000075
9996  113.28196  39.540578 -0.000212
9997  113.28202  31.683362  0.377256
9998  113.28211  26.552400  1.718549
9999  113.28233  25.074851  0.845945

[10000 rows x 3 columns]

## Ejemplo 2: Una doble unión
Ahora examinaremos tanto los corrimientos al rojo espectroscópicos de SDSS DR17 como la fotometría de LS DR9 escribiendo una consulta con dos declaraciones JOIN. La información relevante que queremos seleccionar de nuestras tres tablas de interés para este ejemplo es:

1. "X" = `sdss_dr17.x1p5__specobj__ls_dr9__tractor`
    - **ra1** (RA del objeto SDSS)
    - **dec1** (Dic del objeto SDSS)
2. "S" = `sdss_dr17.specobj`
    - **z** (desplazamiento al rojo)
3. "L" = `ls_dr9.tractor`
    - **mag_g** (magnitud g convertida)
    - **mag_r** (magnitud r convertida)

### Escriba la consulta de declaración doble JOIN
En este ejemplo utilizamos dos declaraciones JOIN: la primera buscará en la tabla SDSS DR17 `specobj` filas que tengan el mismo valor de identificación de SDSS (`specobjid`) que en la tabla previamente cruzada (`id1`) y recuperará las columnas deseadas de la tabla SDSS DR17 `specobj`. El segundo buscará en la tabla `tractor` de LS DR9 filas que tengan el mismo valor de identificación de LS (`ls_id`) que en la tabla previamente cruzada (`id2`) y recuperará las columnas deseadas de la tabla `tractor` de LS DR9 dentro de la región RA y Dec especificada.

In [6]:
query_double = ("""
SELECT 
    X.ra1 AS ra_sdss, X.dec1 AS dec_sdss,
    S.z,
    L.mag_g, L.mag_r
FROM
    sdss_dr17.x1p5__specobj__ls_dr9__tractor AS X 
JOIN
    sdss_dr17.specobj AS S ON X.id1 = S.specobjid 
JOIN
    ls_dr9.tractor AS L ON X.id2 = L.ls_id
WHERE
    X.ra1 BETWEEN %s and %s and X.dec1 BETWEEN %s and %s
LIMIT 10000

SELECT
    X.ra1 AS ra_sdss, X.dec1 AS dec_sdss,
    S.z,
    L.mag_g, L.mag_r
FROM
    sdss_dr17.x1p5__specobj__ls_dr9__tractor AS X
JOIN
    sdss_dr17.specobj AS S ON X.id1 = S.specobjid
JOIN
    ls_dr9.tractor AS L ON X.id2 = L.ls_id
WHERE
    X.ra1 BETWEEN 110 and 200 and X.dec1 BETWEEN 7.0 and 40.0
LIMIT 10000

### Ejecutar la consulta de la declaración de doble unión y los resultados de impresión

In [7]:
df_double = qc.query(sql=query_double,fmt='pandas')
df_double

        ra_sdss   dec_sdss         z      mag_g      mag_r
0     123.12650  39.993317  0.124905  18.130915  16.995148
1     123.36125  39.996015 -0.000117  21.921595  20.344702
2     123.23940  39.990355  0.067814  17.442272  16.721584
3     123.18048  39.935782  0.067945  18.585884  17.680323
4     123.25379  39.959822  0.000056  22.013874  20.268965
...         ...        ...       ...        ...        ...
9995  139.99228  39.700074  0.570250  23.129639  21.435806
9996  139.88228  39.660420  0.458871  20.758060  20.142900
9997  140.03065  39.671779  1.867199  21.640137  21.532164
9998  140.12081  39.656766  0.092700  15.941207  14.906138
9999  140.05747  39.636116  0.092355  17.728931  16.734123

[10000 rows x 5 columns]

<a class = "Anchor" id = "SavetovoSpace"> </a>
# Guardar resultados en Vospacio
Vospacio es un espacio de almacenamiento conveniente para que los usuarios guarden su trabajo. Puede almacenar cualquier dato o tipo de archivo. Podemos guardar los resultados de una consulta a nuestro espacio de almacenamiento virtual. Primero, una consulta básica que extrae unos pocos miles de filas de las columnas Specobjid, RA y DEC de la tabla SDSS DR17 Specobj:

In [8]:
basic_query = "SELECT specobjid, ra, dec FROM sdss_dr17.specobj LIMIT 10000"
print(basic_query)

SELECT specobjid, ra, dec FROM sdss_dr17.specobj LIMIT 10000

##### Enviar la consulta, formatear la salida como CSV y guárdela en Vospacio:

In [9]:
response = qc.query(sql=basic_query,fmt='csv',out='vos://basic_result.csv')

##### Asegurémonos de que el archivo se guardara en Vospacio:

In [10]:
sc.ls(name='vos://basic_result.csv')

'basic_result.csv'

##### Entonces eliminaremos el archivo del vospace:

In [11]:
sc.rm(name='vos://basic_result.csv')

'OK'

##### y asegúrese de que se eliminara:

In [12]:
sc.ls(name='vos://basic_result.csv')

'Error 404: "vos://basic_result.csv" NOT FOUND'

<a class = "Anchor" id = "SaveTomyDB"> </a>
# Guardar resultados para MyDB
MyDB es una útil base de datos relacional remota por usuario que puede almacenar tablas de datos. Además, los resultados de las consultas se pueden guardar directamente en MyDB, como mostramos en el siguiente ejemplo:

In [13]:
response = qc.query(sql=basic_query, fmt='csv', out='mydb://basic_result', drop=True)

##### Asegúrese de que la tabla se haya guardado en MyDB llamando a la función `mydb_list ()`, que enumerará todas las tablas actualmente en el MyDB de un usuario:

In [14]:
print(qc.mydb_list(),"\norte")

aaa
aab
basic_result
bgsfaint_dlnotebook
cmtestoutput
cmxmatchtest
desi_tile
df_xmatch
fastspec_everest_z_lt_0p6
fiberassign
gaia_rc
gaia_sample
gaia_sample_xmatch
gals
lowmassagn_dlnotebook
secondary_dark_subset
sv1targets_bright_secondary
sv1targets_dark_secondary
tbl_stat
testcm
testingx
testresult2
testx2
testxmatchqueryout
tile
twomass_gaia1
twomass_pt1
twomasspsc
usno_objects
xmatchasyncout
xmatchasyncout2

<a class = "Anchor" id = "usertable"> </a>
# Ejemplo: una tabla de usuario y una tabla previa a la cruzada
Ejemplo: un usuario solo tiene columnas ID, RA y DEC para su propia tabla. Luego realizan un cambio cruzado entre su tabla y 'Gaia_dr3.Gaia_Source`. Al hacerlo, pueden usar la tabla previa a la crujir `gaia_dr3.x1p5__Gaia_source__ls_dr9__tractor` para obtener` ls_dr9.tractor` id, RA y columnas de forma gratuita desde que la tabla pre-crossmated les da la correspondiente `gaia_dr3.Gaia_Source` id. Usaremos la tabla 'Basic_Result` que almacenamos en nuestro MyDB en la sección anterior como nuestra tabla "proporcionada por el usuario".

##### Escribe la consulta CrossMatch de vecino más cercano

In [15]:
query_xmatch = """
SELECT
    b.specobjid AS sdss_id, gg.source_id AS gaia_id, 
    (q3c_dist(b.ra,b.dec,gg.ra,gg.dec)*3600.0) AS dist_arcsec 
FROM
    mydb://basic_result AS b
LEFT JOIN LATERAL (
    SELECT g.* 
    FROM 
        gaia_dr3.gaia_source AS g
    WHERE
        q3c_join(b.ra, b.dec, g.ra, g.dec, 0.01)
    ORDER BY
        q3c_dist(b.ra,b.dec,g.ra,g.dec)
    ASC LIMIT 1
) AS gg ON true

SELECT
    b.specobjid AS sdss_id, gg.source_id AS gaia_id,
    (q3c_dist(b.ra,b.dec,gg.ra,gg.dec)*3600.0) AS dist_arcsec
FROM
    mydb://basic_result AS b
LEFT JOIN LATERAL (
    SELECT g.*
    FROM
        gaia_dr3.gaia_source AS g
    WHERE
        q3c_join(b.ra, b.dec, g.ra, g.dec, 0.01)
    ORDER BY
        q3c_dist(b.ra,b.dec,g.ra,g.dec)
    ASC LIMIT 1
) AS gg ON true

##### Envíe la consulta y la salida de CrossMatch a MyDB

In [16]:
df_xmatch = qc.query(sql=query_xmatch,out="mydb://df_xmatch",drop=True) # establecer drop = verdadero para eliminar una tabla ya existente de MyDB con el mismo nombre

##### Podemos imprimir la mesa escribiendo una consulta a MyDB

In [17]:
q = "select * from mydb://df_xmatch"
re = qc.query(sql=q,fmt='pandas')
re

                  sdss_id       gaia_id  dist_arcsec
0     2889072702671316992  1.962451e+18     0.122596
1     2877815347283519488  1.962452e+18     0.135446
2     2877824143376541696  1.961010e+18     0.193541
3     2877823318742820864  1.960965e+18     0.133224
4     2889071878037596160  1.960965e+18    11.562321
...                   ...           ...          ...
9995  2857534859855816704  2.272961e+18     0.049671
9996  2866543439439226880  2.272962e+18     0.060718
9997  2857536234245351424  2.272973e+18     0.080895
9998  2866556633578760192  2.272977e+18     0.043344
9999  2857539257902327808  2.272975e+18     0.213171

[10000 rows x 3 columns]

##### Ahora podemos usar la columna GAIA_ID de nuestra tabla `df_xmatch` arriba para obtener información de objeto` ls_dr9.tractor` utilizando la tabla `gaia_dr3.x1p5__gaia_source__ls_dr9____________

In [18]:
query_1 = """
SELECT
    id2 AS ls_id, ra2 AS ls_ra, dec2 AS ls_dec,
    df_xmatch.gaia_id, df_xmatch.sdss_id
FROM
    gaia_dr3.x1p5__gaia_source__ls_dr9__tractor AS gxl
JOIN
    mydb://df_xmatch AS df_xmatch ON gxl.id1 = df_xmatch.gaia_id

SELECT
    id2 AS ls_id, ra2 AS ls_ra, dec2 AS ls_dec,
    df_xmatch.gaia_id, df_xmatch.sdss_id
FROM
    gaia_dr3.x1p5__gaia_source__ls_dr9__tractor AS gxl
JOIN
    mydb://df_xmatch AS df_xmatch ON gxl.id1 = df_xmatch.gaia_id

##### Envíe la consulta e imprima la tabla resultante

In [19]:
df = qc.query(sql=query_1,fmt='pandas')
df

,ls_id,ls_ra,ls_dec,gaia_id,sdss_id
0,9907737095837650,287.228165,48.064735,2131102058617608064,3384465917919389696
1,9907737159009377,287.448870,48.229697,2131098455144685056,3384466192797296640
2,9907737158950166,287.387517,48.168933,2131097218194075904,3384462344506599424
3,9907737221862367,287.697861,48.382752,2131196930154414592,3384463718896134144
4,9907737221859120,287.547174,48.407548,2131195006009050240,3384465093285668864
...,...,...,...,...,...
840,9907740343599562,276.670899,63.135065,2160347319866203008,2873374430422132736
841,9907740343599573,276.671625,63.208500,2160347899685623680,2873378278712829952
842,9907740343599244,276.634148,63.135310,2160347972701229440,2873379103346550784
843,9907740343535831,276.356517,63.279633,2160352916207452416,2873378828468643840
844,9907740343535595,276.327702,63.257707,2160352473826955520,2873373880666318848

<a class = "Anchor" id = "Refs"> </a>
# Recursos y referencias

W3Schools: SQL se une a https://www.w3schools.com/sql/sql_join.asp